#CRMVGO-greenishBlack{
  color: #1d1f1d;
}

#CRMVGO-lightGrey{
  color: #ebebeb;
}

#CRMVGO-darkGreen{
  color: #224027;
}

#CRMVGO-lightNavyBlue{
  color: #0094c6;
}

#CRMVGO-byzantineBlue{
  color: #3454D1;
}

#CRMVGO-turquoise{
  color: #34D1BF;
}

#CRMVGO-slateGray{
  color: #767B91;
}

#CRMVGO-CentralDeEventos-DeepBlack{
  color: #212529;
}

#CRMVGO-CentralDeEventos-DarkCharcoal{
  color: #393939;
}

#CRMVGO-CentralDeEventos-SteelGray{
  color: #343A40;
}

#CRMVGO-CentralDeEventos-SlateGray{
  color: #495057;
}

#CRMVGO-CentralDeEventos-LightGray{
  color: #DEE2E6;
}

#CRMVGO-CentralDeEventos-PaleBlueGray{
  color: #E9ECEF;
}

#CRMVGO-CentralDeEventos-DarkSteelGray{
  color: #6C757D;
}

#CRMVGO-CentralDeEventos-EmeraldGreen{
  color: #2B8473;
}

#CRMVGO-CentralDeEventos-SeaGreen{
  color: #4FB09B;
}

#CRMVGO-CentralDeEventos-DeepForestGreen{
  color: #1a2617;
}

#CRMVGO-CentralDeEventos-DarkGreen{
  color: #0d140c;
}

#CRMVGO-CentralDeEventos-OliveGreen{
  color: #728824;
}

#CRMVGO-CentralDeEventos-BrickRed{
  color: #D95A4A;
}

#greenishBlack{
  color: #1d1f1d;
}

#lightGrey{
  color: #ebebeb;
}

#darkGreen{
  color: #224027;
}

#darkGreen2{
  color: #1A2617;
}

#lightNavyBlue{
  color: #0094c6;
}

#byzantineBlue{
  color: #3454D1;
}

#turquoise{
  color: #34D1BF;
}

#slateGray{
  color: #767B91;
}