#greenishBlack{
  color: #1d1f1d;
}

#lightGrey{
  color: #ebebeb;
}

#darkGreen{
  color: #224027;
}

#lightNavyBlue{
  color: #0094c6;
}

#byzantineBlue{
  color: #3454D1;
}

#turquoise{
  color: #34D1BF;
}

#slateGray{
  color: #767B91;
}